.time{
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.container-time{
    background-color: #9fe9f5;
    border-radius: 10px;
    margin-bottom: 60px;
}
