.carousel-item {
    
    
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .nav{
    text-decoration: none;
    padding:20px;
    font-size: 20px;
    font-weight: bold;
  }