.seat{
    display: flex;
    padding: 20px;
    margin: auto;
    width: 75%;
    align-items: center;
    justify-content: center;
    background-image: url('https://image.freepik.com/free-vector/gradient-abstract-background-design_23-2149066048.jpg');
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.booking-text{
    font-size: 60px;
    font-weight: bold;
}

.booking-btn{
    border: 2px solid #63dff7 ;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}