.section{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: -25px;
    position: relative;
}

.decoration-li{
    list-style-type: none;
}
.item{
    color: white;
    padding: 40px;
}
.item-1{
    background-color:#12c5c3 ;
}
.item-2{
    background-color: #0cb8b6;
}
.item-3{
    background-color: #09aba9;
}
.item-4{
    background-color: #029d9b;
}
.btn-info{
border: 2px solid white;
color: white;
border-radius: 10px;
padding: 10px;


}
.item:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 30px gray;
}

